@function cell-width($number, $first:0, $last:0) {
  @return ($card-width - 14px - 10px - $first - $last) / $number;
}

@mixin cell-border {
  border-style: solid;
  border-width: 0 2px 2px;
  border-color: transparent;
  background-clip: padding-box;  
}

@mixin first-data-cell {
  width: $first-cell;
  text-align: left;
  padding-left: 4px;
}