$card-width: 425px;  // 11.5cm
$card-height: 283px;  // 7.5cm
$card-padding: 5px;
$first-cell: 75px;  // 2cm
$last-cell: 100px;  // 3cm
$cell-margin: 1px;
$red: #E1501E;
$grey: #dfdfdf;
$light-grey: #f1f1f1;
