@import 'variables';
// @import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Oswald:600|EB+Garamond:400,400i,700');

body {
  font-family: 'EB Garamond', serif;
}

section {
  margin-top: 20px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36pt;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 9pt;
}

th {
  background-color: $red;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
}

.campaign {
  & th {
    height: 40px;
    font-size: 10pt;
  }
  & td {
    height: 40px;
    font-size: 12pt;
    text-align: center;
    background-color: $light-grey;
    @include cell-border;
  }
}

.resources td:first-child {
  text-align: left;
  padding-left: 10px;
}

.roster {
  & th {
    width: cell-width(8);
    @include cell-border;
    &:first-child {
      text-align: left;
      padding-left: 4px;
    }
    &:nth-child(5) {
      width: cell-width(7) * 2;
    }
  }
  & td {
    width: cell-width(8);
    text-align: center;
    background-color: $grey;
    @include cell-border;
    padding: 2px;
    &:first-child {
      text-align: left;
      padding-left: 4px;
    }
    &:nth-child(5) {
      width: cell-width(7) * 2;
    }
  }
}

.card {
  width: $card-width;
  min-height: $card-height;
  padding: $card-padding;
  border: 1px solid #CCC;
  border-radius: 8px;
  display: table;
}


.title tbody td {
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}

.model thead tr, .wargear thead tr {
  border-style: solid;
  border-width: 1px 0px;
  border-color: #000;
}

.model th, .model td {
  text-align: center;
  padding: 2px;
  font-weight: bold;
  &:first-child {
    @include first-data-cell;
  }
}

.model td {
  font-size: 10pt;
}

.model tbody td, .wargear tbody td, .ability tbody td {
  background-color: $grey;
  @include cell-border;
  &:first-child {
    border-width: 0 2px 2px 0;
  }
  &:last-child {
    border-width: 0 0 2px 2px;
    font-size: 8pt;
  }
}

.wargear th, .wargear td {
  text-align: center;
  width: cell-width(5, 75px, 100px);
  padding: 2px;
  &:first-child {
    @include first-data-cell;
  }
  &:last-child {
    min-width: $last-cell;
    width: auto;
  }
}

.ability-title {
  font-weight: bold;
  padding: 0 0 2px 2px;
  text-transform: uppercase;
  font-size: 10pt;
  font-family: 'Oswald', sans-serif;
  & td:first-child {
    width: $first-cell;
  }
  & td:last-child {
    padding-left: 8px;
  }
}

.ability tbody td {
  text-align: center;
  padding: 2px;
  &:first-child {
    @include first-data-cell;
  }
}

.card-footer {
  display: table-footer-group;
}

.exp {
  table-layout: auto;
  font-size: 8pt;
  & td {
    text-align: center;
  }
  & span {
    font-size: 7pt;
  }
  & span:nth-child(3), span:nth-child(7), span:nth-child(12) {
    color: $red;
  }
}


@media screen {
  #cards {
    display: flex;
    flex-wrap: wrap;
    &>div {
      margin: 5px;
    }
  }
}

@media print {
  #roster {
    page-break-after: always;
  }
  .card, .roster-data {
    page-break-inside: avoid;
  }
}